html, body {
  background-color: #eee;
}

h1, h2, h3, h4 {
  text-align: center;
  font-family: 'Georgia';
  color: #333;
  font-family: 'Lora', serif;
}

h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 25px;
}

h3 {
  margin-top:30px;
}